body {
  font-family: 'Arial', sans-serif;
  background-color: #e0f7fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #00796b;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #004d40;
  font-weight: bold;
  text-align: left;
}

input[type="text"],
input[type="datetime-local"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background-color: #00796b;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #004d40;
}

/* Estilos de animação */
.focus-anim {
  animation: focusAnim 0.5s forwards;
}

@keyframes focusAnim {
  0% {
    border-color: #00796b;
    box-shadow: 0 0 10px rgba(0, 121, 107, 0.3);
  }
  100% {
    border-color: #004d40;
    box-shadow: 0 0 20px rgba(0, 77, 64, 0.6);
  }
}

